// Place all the styles related to the mobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.mob {
  border: 2px solid magenta;
  border-radius: 15px;
  padding: 10px 20px;
  margin: 10px;
  color: wheat;
}
