// Place all the styles related to the actors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.actor {
  border: 2px solid white;
  border-radius: 15%;
  padding: 20px;
  margin: 10px 0;
  color: papayawhip;
}
